= render "layout", selected: "advanced" do
	.border-2.border-red-500.rounded-md.p-5.flex.justify-between.items-center
		.flex.flex-col
			.text-lg Delete this app
			.text-sm.text-gray-400 This can't be undone.
		= form_with url: oauth_app_path(@app), method: :delete, data: { controller: "form-confirm", action: "form-confirm#submit", "form-confirm-title-value" => "Delete this app?" } do |form|
			%button.btn.bg-red-500(type="submit") Delete app