= render "layout", selected: "settings" do
	= form_with model: @app do |form|
		%label.block.mb-2.text-sm.text-gray-400(for="oauth_app_name") App name
		= form.text_field :name, class: "input mb-4", required: true, placeholder: "My Cool App", autofocus: true

		= form.submit "Save", class: "btn"