= render "shared/header", selected: "settings"

.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md
	.flex.justify-between.items-start.mb-10
		%h1.text-lg
			%span.text-gray-500
				%a.text-gray-500(href="/developer") Developer
				\/ 
			Apps
		%a.btn{href: new_oauth_app_path} New

	- if alert
		%div.alert.mb-6(data-controller="alert")
			= alert
			%button.bg-transparent.text-xl.-mt-1(data-action="alert#dismiss") ×

	- if notice
		%div.notice.mb-6(data-controller="alert")
			= notice
			%button.bg-transparent.text-xl.-mt-1(data-action="alert#dismiss") ×

	- if @apps.length == 0
		%h2.text-center.mb-10.mt-15.text-gray-500 Nothing here, yet...
	- else
		.grid.grid-cols-2.gap-5
			- @apps.each do |app|
				%a.text-white.text-xl.p-5.bg-black.font-heading.font-semibold.rounded-md.text-white.transform.transition-transform.hover:-translate-y-1.hover:no-underline{href: oauth_app_path(app)}= app.name