= render "shared/header", selected: "settings"

.w-full.max-w-sm.block.mx-auto.bg-gray-800.p-7.rounded-md
	%h1.text-lg.mb-10
		%span.text-gray-500
			%a.text-gray-500(href="/developer") Developer
			\/ 
			%a.text-gray-500(href="/developer/apps") Apps
			\/ 
		New
	
	= form_with model: OauthApp.new, class: "block mx-auto" do |form|
		= form.text_field :name, class: "input mb-4", placeholder: "App name", autofocus: true, required: true
		= form.submit "Create", class: "btn"