= render "layout", selected: "credentials" do
	.mb-5
		.text-sm.text-gray-400 Client ID
		.flex.items-center.gap-3{"data-controller" => "copy", "data-copy-text-value" => @app.client_id}
			.text-lg.font-mono= @app.client_id
			%button.btn.text-sm.clr-btn.bg-gray-700(data-action="copy#copy") Copy

	%div
		.text-sm.text-gray-400 Client Secret
		.flex.items-center.gap-3{"data-controller" => "copy", "data-copy-text-value" => @app.client_secret}
			.text-lg.font-mono= @app.client_secret
			%button.btn.text-sm.clr-btn.bg-gray-700(data-action="copy#copy") Copy