= render "settings/layout", selected: "security" do
	.mb-5.flex.justify-between.items-center
		%h2.text-lg.text-gray-400 Sessions
		= form_with url: destroy_all_sessions_path do
			%button.btn.clr-btn.bg-red-500(type="submit") Log out everywhere

	%ul.flex.flex-col.gap-3.mb-10
		- @sessions.each do |session|
			= render session
		%div
			%a(href="/settings/security") Back