- content_for :page_title, "Reset your password"

= render "layouts/sm", title: "Reset your password", back_href: "/forgot-password", back_text: "Back" do
	Check your email
	%span.text-gray-400 (#{@email})
	for a verification link. 🔗
