%p You (or someone pretending to be you) just requested a password reset. <a href="#{url_for(controller: 'auth', action: 'forgot_password_verify', code: @code)}">Click here</a> to reset your password.

%p If this wasn't you, you can safely ignore this email.