%p Just a heads up, your Resolute account password was just changed.

%p If this wasn't you, <strong>please <a href="#{url_for(controller: 'auth', action: 'forgot_password')}">reset your password</a> immediately.</strong>