Welcome to Taskalla, <%= @email %>!

<br />

<b>One more step:</b> just click <a href="<%= url_for controller: 'signup', action: 'verify', code: @verification_code %>">this link</a> to verify your email address.