Welcome to Taskalla, <b><%= @email %></b>!

<br />

One more step: just click <a href="<%= url_for controller: 'signup', action: 'verify', code: @verification_code %>">this link</a> to verify your email address.