%p Welcome to Resolute, #{@email}!

%p
	<strong>One more step:</strong> just click <a href="#{url_for(controller: 'signup', action: 'verify', code: @verification_code)}">this link</a> to verify your email address.