%div{id: dom_id(reminder)}
	.group.bg-black.p-5.rounded-md.flex.justify-between.items-center.gap-5.border-2.border-transparent.relative.break-words.cursor-default{class: [reminder.url.present? && "hover:shadow-lg hover:-translate-y-0.5 transition"]}
		- if reminder.url.present?
			%a.hover:no-underline.flex.flex-col.gap-3.min-w-0.grow.group-2{href: reminder.url, target: "_blank"}
				= render "reminders/reminder_inner", reminder: reminder
		- else
			.flex.flex-col.gap-3.min-w-0.grow
				= render "reminders/reminder_inner", reminder: reminder

		= form_with url: reminder_path(reminder), method: :delete do |form|
			%button.text-gray-500.hover:text-red-500.cursor-pointer.opacity-100.sm:opacity-0.group-hover:opacity-100.transition(type="submit" title="Delete")
				%i.fas.fa-fw.fa-trash.text-xl
