.flex.flex-col.items-stretch.h-screen
	= render "shared/header", selected: "reminders"

	= turbo_stream_from @current_user, :reminders

	.px-0.sm:px-10.grow.sm:grow-0
		.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md.rounded-b-none.sm:rounded-b-md.h-full
			= form_with url: "/reminders", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |form|
				.flex.flex-col.mb-10.items-stretch.gap-2
					.flex.gap-4.items-stretch
						%input.input.block(type="text" placeholder="Remind me to..." name="text" autofocus required)
						%button.btn.hidden.xs:inline-block(type="submit") Add

					.text-sm.text-gray-400.pl-1
						Or,
						%a(href="/integrations" data-turbo-frame="_top") find an integration

			-# - if @reminders.length == 0
			-# 	%h2.text-center.mb-10.mt-15.text-gray-500 Nothing here, yet...
			-# - else
			.grid.grid-cols-1.md:grid-cols-2.gap-5#reminders
				- @reminders.each do |reminder|
					= render reminder
