.h-screen.flex.justify-center.items-center.flex-col.gap-5
    %h1.text-6xl.font-light Welcome.
    %h2 This is not a landing page.

    .flex.gap-5
        %a.btn.mt-3(href="/login") Log in
        %a.btn.mt-3(href="/signup") Sign up