<div class="h-screen flex justify-center items-center flex-col gap-5">
    <h1 class="text-6xl font-light">Welcome.</h1>
    <h2>This is not a landing page.</h2>

    <div class="flex gap-5">
        <a class="btn mt-3" href="/login">Log in</a>
        <a class="btn mt-3" href="/signup">Sign up</a>
    </div>
</div>