.h-screen.flex.justify-center.items-center.flex-col.gap-5
	.flex.gap-5.mb-10.items-center
		= image_tag "icon-128.png", size: "75x75"
		%h1.font-heading.text-5xl.font-light resolute

	.flex.gap-5
		%a.btn(href="/login") Log in
		%a.btn(href="/signup") Sign up