<h1 class="text-3xl">Welcome to <span class="font-bold">Taskalla</span>.</h1> <a href="/login">Log in</a>.

<%= @current_user&.email || "not logged in" %>

<%= gravatar @current_user.email if @current_user %>