<div class="flex items-center justify-center h-screen w-screen">
    <div class="w-96 h-auto bg-gray-800 border-t-4 border-green-400 rounded-md p-7 text-white">
        We just sent a verification email to <b><%= @email %></b>.
    </div>
</div>
