- if notice
	.notice.inline-flex.fixed.top-16.z-50.animate-toast{class: "left-1/2 -translate-x-1/2"}= notice

- if alert
	.alert.inline-flex.fixed.top-16.z-50.animate-toast{class: "left-1/2 -translate-x-1/2"}= alert
