= render "shared/header", selected: "settings"

.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md
	%h1.text-xl.mb-10.font-heading.font-semibold
		%span.text-gray-500
			%a.text-gray-500(href="/developer") Settings
			\/ 
			%a.text-gray-500{href: personal_tokens_path} Personal tokens
			\/ 
		New
	
	= form_with url: personal_tokens_path, class: "block mx-auto" do |form|
		= form.text_field :description, class: "input mb-4", placeholder: "Description", autofocus: true, required: true
		= form.submit "Create", class: "btn"