@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

a {
  @apply text-green-500 hover:underline;
}

.turbo-progress-bar {
  @apply bg-green-700;
}

.btn {
  @apply cursor-pointer text-white rounded-md py-2 px-4 shadow-md hover:shadow-lg hover:no-underline;
}

.btn:not(.clr-btn) {
  @apply bg-green-600;
}

.input {
  @apply bg-black block w-full py-3 px-4 rounded-md placeholder-gray-500 border-2 border-gray-700 focus:outline-none focus:border-green-500;
}

.input.unobtrusive {
  @apply border-transparent focus:border-green-500;
}

.input:disabled {
  @apply cursor-not-allowed text-gray-500;
}

.alert,
.notice {
  @apply text-white rounded-md py-3 px-4 border-l-4 flex justify-between items-center gap-3;
}

.alert {
  @apply bg-red-500 border-red-700;
}

.notice {
  @apply bg-yellow-600 border-yellow-700;
}

.reminder--highlighted {
  animation: reminder-highlight 1s;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

@keyframes reminder-highlight {
  from {
    @apply border-yellow-500;
  }

  to {
    @apply border-transparent;
  }
}
