.p-10.mt-20.text-center.border-t-4.bg-gray-800.border-red-500.rounded-md.w-fit.mx-auto
	%h1.text-8xl.font-mono.text-gray-300 500
	%h3.text-4xl.text-gray-300.font-light.mb-5 Something unexpected happened.

	%p.text-gray-300 We track these errors automatically and are working to resolve this.
