@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	html {
		@apply bg-black text-white;
	}
}

@layer components {
	.btn {
		@apply cursor-pointer disabled:cursor-default text-white rounded-md py-2 px-4 shadow-md hover:shadow-lg hover:no-underline disabled:opacity-50 bg-green-600 transition;
	}

	a,
	.link {
		@apply text-green-500 hover:underline cursor-pointer;
	}

	.input {
		@apply bg-black block w-full py-3 px-4 rounded-md placeholder-gray-500 border-2 border-gray-700 focus:outline-none focus:border-green-500 disabled:cursor-not-allowed disabled:text-gray-500;

		&.unobtrusive {
			@apply border-transparent focus:border-green-500;
		}
	}

	.modal:not(.modal--visible) {
		@apply opacity-0;

		& .modal__content {
			@apply scale-95;
		}
	}
}

.alert {
	@apply text-white rounded-md py-3 px-4 flex justify-between items-center gap-3 bg-red-500;
}

.notice {
	@apply text-white rounded-md py-3 px-4 flex justify-between items-center gap-3 bg-yellow-600;
}

.turbo-progress-bar {
	@apply bg-green-700;
}

[x-cloak] {
	display: none !important;
}

.reminder--highlighted {
	animation: reminder-highlight 1s;
	animation-delay: 500ms;
	animation-fill-mode: backwards;
	animation-timing-function: ease-out;
}

@keyframes reminder-highlight {
	from {
		@apply border-yellow-600;
	}

	to {
		@apply border-transparent;
	}
}
