@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";

@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply bg-black text-white;
  }

  .turbo-progress-bar {
    @apply bg-green-700;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer text-white rounded-md py-2 px-4 shadow-md hover:shadow-lg hover:no-underline bg-green-600;
  }

  a,
  .link {
    @apply text-green-500 hover:underline cursor-pointer;
  }

  .input {
    @apply bg-black block w-full py-3 px-4 rounded-md placeholder-gray-500 border-2 border-gray-700 focus:outline-none focus:border-green-500;
  }
  .input.unobtrusive {
    @apply border-transparent focus:border-green-500;
  }
  .input:disabled {
    @apply cursor-not-allowed text-gray-500;
  }
}

.alert {
  @apply text-white rounded-md py-3 px-4 flex justify-between items-center gap-3 bg-red-500;
}

.notice {
  @apply text-white rounded-md py-3 px-4 flex justify-between items-center gap-3 bg-yellow-600;
}

.reminder--highlighted {
  animation: reminder-highlight 1s;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

@keyframes reminder-highlight {
  from {
    @apply border-yellow-600;
  }

  to {
    @apply border-transparent;
  }
}
