%li.bg-black.p-5.rounded-md.flex.justify-between.items-center.gap-1
	.flex.flex-col.gap-1
		%div= authorization.oauth_app.name
		.text-sm.text-gray-400 Last authorized #{time_ago_in_words authorization.last_authorized_at} ago
	= form_with url: authorization_path(authorization.oauth_app.id), method: :delete do
		%button.btn.bg-gray-700.shrink-0.hover:bg-red-500.transition-colors(type="submit") Revoke